<!DOCTYPE html>
<html>
<head>
    <title>Create Post</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/styles.css">

</head>
<%- include('../partials/header'), ({user})%>

<body class="bodyBack editProfBack">
<div class="container d-flex justify-content-center align-items-top " >
        <div class="col-8">
            <% if (post){%>
                <div class="p-2 pt-2 pb-1 mx-auto my-2 cardsContainer rounded text-center">
                    <h1 class="d-flex justify-content-center">Edit Post</h1>
                </div>
            <% } else {%>
                <div class=" pt-3 pb-1 mx-auto my-2 cardsContainer rounded text-center align-items-center">
                    <h1 class="d-flex justify-content-center">Create Post</h1>
                </div>
            <%}%>
                <div class="p-3 rounded createBox createEdit" id="testCard">
                    <form <% if (!post){%>action="/posts" <%} else {%> action="/posts/update"  <%}%> method="POST">

                        <%if (post) {%>
                        <input class="visually-hidden" name="id" value="<%=post.id%>">
                        <%}%>
                        <div class="form-group">
                            <label class="d-flex justify-content-center createSpace mainCard" for="title">Title</label>
                            <input type="text" class="form-control theseAreCards" id="title" name="title" value="<%if (post) {%><%=post.title%><%}%>">
                        </div>
                        <div class="form-group">
                            <label class="d-flex justify-content-center createSpace mainCard" for="description">Description</label>
                            <textarea rows="5" class="form-control theseAreCards" id="description" name="content"><%if (post) {%><%=post.content%><%}%></textarea>
                        </div>
                            <div class="form-group d-flex justify-content-center col createSpace mb-3">
                                <label class="my-auto me-2 mainCard" for="tagsList">Tags:</label>
                                <button class="btn btn-primary dropdown-toggle navBtnStyle pt-2 pb-1" type="button" id="dropdownMenuButton"
                                        data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                                    Tags
                                </button>
                                <div class="dropdown-menu theseAreCards overflow-scroll" aria-labelledby="dropdownMenuButton" id="tagsList" style="max-height: 20vh">
                                    <% tags.forEach(function (tag){%>
                                        <label class="dropdown-item theseAreCards commentContent"><input type="checkbox" name="tags"
                                            <% if(post && post.tags.includes(tag.content)){%>
                                                                            checked
                                                    <%}%>
                                                                            value="<%=tag.content%>">  <%=tag.content%></label>
                                    <%})%>
                                </div>
                            </div>
                        <hr>
                        <div class="form-group d-flex justify-content-between mt-4 commentContent">
                            <% if (!post){%>
                            <button type="submit" class="navBtnStyle pt-2 pb-1 commentContent">
                                Create
                            </button>
                            <a  href="/profile?id=<%=user._id%>" class="dangerBtn commentContent pt-2 pb-1">
                                Cancel
                            </a>
                            <%} else {%>
                                <button type="submit" class="btn btn-primary navBtnStyle pt-2 pb-1 commentContent">
                                    Update
                                </button>
                                <a type="button" href="/posts/delete?id=<%=post.id%>" onclick="confirmUser()" class="pt-2 pb-1 dangerBtn commentContent">
                                    Delete
                                </a>
                            <%}%>
                        </div>
                    </form>
                </div>
        </div>
</div>


<%- include('../partials/footer')%>
<% if(post){%>
<script>
    function confirmUser(){
        let ask = confirm("Are you sure you want to delete?");
        if(ask === true){
            window.location="/posts/delete?id=<%=post._id%>"
        }
    }

	// $(document).ready(function(){
	// 	let blocks = $(".changeTime")
	// 	for (let t of blocks){
	// 		let current = $(this).val()
	// 		const localDate = new Date(current);
	// 		const utcDate = new Date(localDate.getTime() + localDate.getTimezoneOffset() * 60000);
	// 		current=  utcDate.toISOString();
	// 		$(this).val(current)
	// 	}
    // })
</script>
<%}%>


</body>
</html>
