<!DOCTYPE html>
<html>
<head>
    <title>Edit Event</title>
    <meta charset="UTF-8">


</head>
<%- include('../partials/header'), ({user})%>

<body class="bodyBack">
<div class="container d-flex justify-content-center align-items-top">
    <div class="col-8">
        <% if (event !== null && event._id){%>
            <div class="p-2 pt-2 pb-1 mx-auto my-2 cardsContainer rounded text-center">
                <h1 class="d-flex justify-content-center">Edit Event</h1>
            </div>
        <% } else {%>
            <div class=" pt-3 pb-1 mx-auto my-2 cardsContainer rounded text-center align-items-center">
                <h1 class="d-flex justify-content-center">Create Event</h1>
            </div>
        <%}%>
        <% if (typeof  attempt !== 'undefined'){%>
        <div class="col text-muted lead text-center m-auto bg-warning border rounded-pill"><%=attempt.error%></div>
        <%}%>
        <div class="p-3 rounded createBox createEdit" id="testCard">
            <form <% if (event === null || !event._id){%>action="/events" <%} else {%> action="/events/update"  <%}%> method="POST">

                <div class="form-group">
                    <label class="d-flex justify-content-center createSpace mainCard" for="title">Event Title</label>
                    <input type="text" class="form-control theseAreCards" id="title" name="title" value="<% if (typeof  attempt !== 'undefined' || event){%><%=event.title%><%}%>">

                </div>
                <div class="form-group" >
                    <% if (event !== null && event._id){%>
                    <input class="visually-hidden" name="id" value="<%=event._id%>">
                    <%}%>
                    <label class="d-flex justify-content-center createSpace mainCard" for="content">Event Description</label>
                    <textarea rows="5" class="form-control theseAreCards" id="content" name="content" ><% if (typeof  attempt !== 'undefined' || event){%><%=event.content%><%}%></textarea>

                    <div>
                        <label class="d-flex justify-content-center createSpace mainCard" for="date">Event Time and Date</label>
                        <input required name="date" class="form-control theseAreCards singleTime" type="datetime-local" id="date" placeholder="Select Date and Time" value="<% if (typeof  attempt !== 'undefined' || event){%><%=event.date%><%}%>">
                    </div>

                </div>
                <div class="d-flex justify-content-center createSpace">
                    <label class="my-auto me-2 mainCard" for="location">Location</label><input type="text" class="theseAreCards" name="location" value="<% if (typeof  attempt !== 'undefined' || event){%><%=event.location.text%><%}%>">
                </div>
                <div class="form-group d-flex justify-content-center col createSpace mb-3">

                    <label class="my-auto me-2 mainCard" for="tagsList">Tags:</label>
                    <button class="btn btn-primary dropdown-toggle navBtnStyle pt-2 pb-1" type="button" id="dropdownMenuButton"
                            data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                        Tags
                    </button>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="tagsList">
                        <% tags.forEach(function (tag){%>
                            <label class="dropdown-item"><input type="checkbox" name="tags"
                                <% if (typeof  attempt !== 'undefined' || event){%>
                                <% if(event.tags.includes(tag.content)){%>
                                                                checked
                                        <%}%><%}%>
                                                                value="<%=tag.content%>"><%=tag.content%></label>
                        <%})%>
                    </div>
                </div>
                <hr>
                <div class="form-group d-flex justify-content-between mt-4">
                    <% if (event === null || !event._id){%>
                    <button type="submit" onclick="changeTime()" class="btn btn-primary navBtnStyle pt-2 pb-1">
                        Create
                    </button>

                    <a  href="/profile?id=<%=user._id%>" class="btn dangerBtn pt-2 pb-1">
                        Cancel

                    </a>
                    <%} else {%>
                        <button type="submit" onclick="changeTime(Event)" class="btn btn-primary navBtnStyle pt-2 pb-1">
                            Update
                        </button>
                        <a type="button"  onclick="confirmUser(Event)" class="btn dangerBtn pt-2 pb-1">
                            Delete
                        </a>
                    <%}%>
                </div>
            </form>
        </div>
    </div>
</div>


<%- include('../partials/footer')%>
<% if(event){%>
<script>
    function confirmUser(e){
        let ask = confirm("Are you sure you want to delete?");
        if(ask === true){
            window.location="/events/delete?id=<%=event._id%>"
        }
		else{
			e.preventDefault();
        }
    }

	// const changeTime = () =>{
	// 	let current = $(".singleTime").val()
	// 	function localToUtc(dateTimeLocalValue) {
	// 		const localDate = new Date(dateTimeLocalValue);
	// 		const utcTimestamp = localDate.getTime() - localDate.getTimezoneOffset() * 60000;
	// 		const utcDate = new Date(utcTimestamp);
	// 		return utcDate.toISOString();
	// 	}
	// 	 current = localToUtc(current)
	// 	$(".singleTime").val(current)
    //     return
	// }

    // $(document).ready(function(){
	//     let blocks = $(".changeTime")
	//     for (let t of blocks){
	// 	    let current = $(this).val()
	// 	    const localDate = new Date(current);
	// 	    const utcDate = new Date(localDate.getTime() + localDate.getTimezoneOffset() * 60000);
	// 	    current=  utcDate.toISOString();
	// 	    $(this).val(current)
	//     }
    //
    //
	// 	    const utcDate = new Date($(".singleTime").val());
	// 	    const localDate = new Date(utcDate.getTime() - utcDate.getTimezoneOffset() * 60000);
	//         $(".singleTime").val(localDate.toISOString().slice(0, -8))
    //
    // })
</script>
<%}%>

</body>
</html>
