<!DOCTYPE html>
<html>
<head>
    <title>Edit Event</title>
    <meta charset="UTF-8">


</head>
<%- include('../partials/header'), ({user})%>

<body>
<div class="container min-vh-100 d-flex justify-content-center align-items-top col">
    <div class="col-md-8 col-md-offset-2">
        <h1 class="d-flex justify-content-center">Edit Event</h1>
        <% if (typeof  attempt !== 'undefined'){%>
        <div class="col text-muted lead text-center m-auto bg-warning border rounded-pill"><%=attempt.error%></div>
        <%}%>
        <form action="/events/update" method="POST">
            <input class="visually-hidden" name="id" value="<%=event.id%>">
            <div class="form-group">
                <label class="d-flex justify-content-center" for="title">Event Title</label>
                <input type="text" class="form-control" id="title" name="title" value="<%=event.title%>">
            </div>
            <div class="form-group">
                <label class="d-flex justify-content-center" for="content">Event Description</label>
                <textarea rows="5" class="form-control" id="content" name="content" ><%=event.content%></textarea>
                <br>
                <div>
                    <label class="d-flex justify-content-center" for="date">Event Time and Date</label>
                    <input name="date" class="form-control" type="datetime-local" id="date" placeholder="Select Date and Time" value="<%=event.date%>">
                </div>
                <br>
            </div>
            <div>
                <label for="location">Location</label><input type="text" name="location" value="<%=event.location.text%>">
            </div>
            <div class="form-group d-flex justify-content-center col">

                <label for="tagsList">Tags:</label>
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                    Tags
                </button>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="tagsList">
                    <% tags.forEach(function (tag){%>
                        <label class="dropdown-item"><input type="checkbox" name="tags"
                            <% if(event.tags.includes(tag.content)){%>
                                                            checked
                                    <%}%>
                                                            value="<%=tag.content%>"><%=tag.content%></label>
                    <%})%>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">
                    Update
                </button>
                <a type="button" href="#" onclick="confirmUser()" class="btn btn-danger">
                    Delete
                </a>
            </div>
        </form>
    </div>
</div>


<%- include('../partials/footer')%>
<script>
	function confirmUser(){
		let ask = confirm("Are you sure you want to delete?");
		if(ask === true){
			window.location="/events/delete?id=<%=user._id%>"
		}
	}
</script>
<!--<script src="/assets/js/createEvent.js"></script>-->
</body>
</html>
