<!DOCTYPE html>
<html>
<head>
    <title>Edit Page</title>
    <!-- Include Bootstrap CSS -->

</head>
<%- include('../partials/header'), ({user})%>
<br>
<body class="bodyBack">
<div class="container">
    <div class="d-flex justify-content-center col">
        <div class="col-md-6 col-md-offset-3 text-center">
            <h1>Edit Profile</h1>
                <div>
                    <img class="rounded mx-auto d-block" src="<%=user.avatar%>">
                    <!-- Button trigger modal -->
                    <br>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Change Profile Picture
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Choose a picture</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body" id="pictureModalInsert">

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- Button trigger modal -->
            <br>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal2">
                Change Password
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Change Password</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-4">
                                    <label for="passwordOne">New Password: </label>
                                </div>
                                <div class="col-2">
                                    <input type="password" id="passwordOne">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <label for="passwordTwo">Repeat: </label>
                                </div>
                                <div class="col-2">
                                    <input type="password" id="passwordTwo">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" id="changePasswordSubmit">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
            <% if (typeof  attempt !== 'undefined'){%>
            <h2 class="m-3 bg-warning rounded-pill"><%=attempt.error%></h2>
            <%}%>
            <form action="/profile/edit" method="POST">
                <div class="form-group">
                    <label for="address">Location (Can Be City, State, or Address)</label>
                    <input type="text" class="form-control" id="address" name="location" value="<%=user.info.location.text%>" required>
                </div>
                <div class="form-group">
                    <label for="branchOfService">Branch of Service</label>
                    <select class="form-control" id="branchOfService" name="branch" required>
                        <option disabled>Choose your branch of service</option>
                        <option value="Army"<% if(user.info.service.branch === "Army"){
                        %> selected
                                <% } %>>Army</option>
                        <option value="Navy" <% if(user.info.service.branch === "Navy"){
                        %> selected
                                <% } %>>Navy</option>
                        <option value="Air Force" <% if(user.info.service.branch === "Air Force"){
							%> selected
                        <% } %>>Air Force</option>
                        <option value="Marines"<% if(user.info.service.branch === "Marines"){
                        %> selected
                                <% } %>>Marines</option>
                        <option value="Coast Guard"<% if(user.info.service.branch === "Coast Guard"){
                        %> selected
                                <% } %>>Coast Guard</option>
                        <option value="Army-NG"<% if(user.info.service.branch === "Army-NG"){
                        %> selected
                                <% } %>>Army-NG</option>
                        <option value="Air-NG"<% if(user.info.service.branch === "Air-NG"){
                        %> selected
                                <% } %>>Air-NG </option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="status">Status</label>
                    <div>
                        <label class="radio-inline">
                            <input type="radio" name="status" value="Active" required <% if(user.info.service.status === "Active"){
                            %> checked
                                    <% } %>> Active Duty
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="status" value="Veteran" required <% if(user.info.service.status === "Veteran"){
                            %> checked
                                    <% } %>> Veteran/Retired
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="status" value="Reserve" required <% if(user.info.service.status === "Reserve"){
                            %> checked
                                    <% } %>> Reserve
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="currentJob">Current Job (CIV/MILITARY) (optional)</label>
                    <input type="text" class="form-control" id="currentJob" name="currentJob" value="<%=user.info.currentJob%>">
                </div>

                <button type="submit" class="btn btn-primary">Update</button>
                <a type="button" href="/user/delete?id=<%=user.id%>" class="btn btn-danger">
                    Delete
                </a>


            </form>
        </div>
    </div>
</div>
<!-- Include Bootstrap JS -->

<%- include('../partials/footer')%>
</body>

<script src="/assets/js/editProfile.js"></script>
</html>
