<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>After the Foxhole</title>

</head>
<body class="bodyBack">
<% if (typeof user === 'undefined'){%>
<%- include('../partials/header')%>
<%}else{%>
<%- include('../partials/header'), ({user})%>
    <%}%>

<!-- Section: Design Block -->
<section class="">
    <!-- Jumbotron -->
    <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
        <div class="container">
            <div class="row gx-lg-5 align-items-center">
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <h1 class="my-5 display-3 fw-bold ls-tight">
                        After the FoxHole
                    </h1>
                    <p>
                        We are a website with the goal to bring all veterans and active duty members together.
                        We provide a platform where veterans and active duty members can share any news, information, and changing that
                        can have an impact of both active duty and veteran members. We also offer this platform to organizations that are
                        looking to help the military community.
                    </p>
                </div>

                <div class="col-lg-6 mb-5 mb-lg-0">
                    <div class="card">
                        <div class="card-body py-5 px-md-5 text-center" id="testCard">
                            <form  action="/login" method="post">
                                <h6>Ready to join the community?</h6>

                                <h2>Sign Up for After the Foxhole</h2>

                                <% if (typeof  attempt !== 'undefined'){%>
                                <div class="m-3 bg-warning rounded-pill"><%=attempt.error%></div>
                                <%}%>

                                <!-- Email input -->
                                <div class="form-outline mb-4">
                                    <input type="hidden" name="type" value="user"/>
                                    <input type="email" id="email" name="email"
                                            <% if (typeof  attempt !== 'undefined'){%>
                                            value="<%=attempt.email%>"
                                           <%}%>class="form-control" />
                                    <label class="form-label" for="email">Email address</label>
                                </div>

                                <!-- Password input -->
                                <div class="form-outline mb-4">
                                    <input type="password" id="password" name="password" class="form-control" />
                                    <label class="form-label" for="password">Password</label>
                                </div>

                                <!-- Submit button -->
                                <button  value="Submit" type="submit" class="btn btn-primary btn-block mb-4 buttonStyle" >
                                    Login
                                    <!--href="homepage.ejs"-->
                                </button>
                            </form>

                                <!-- Button trigger modal -->
                                <div>
                                    <a role="button" class="link" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                        Lost Password
                                    </a>
                                </div>


                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">Reset Password</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <form action="/users/recovery" method="post">
                                                    <label for="emailField">Email: </label>
                                                    <input type="email" name="email" id="emailField">
                                                    <button value="Submit" type="submit" class="btn btn-primary buttonStyle">Send Recovery</button>
                                                </form>

                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary buttonStyle" data-bs-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Jumbotron -->
</section>
<!-- Section: Design Block -->

</body>
<%- include('../partials/footer')%>

</html>
