<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>After the Foxhole</title>

</head>
<body class="bodyBack editProfBack">
<% if (typeof user === 'undefined'){%>
<%- include('../partials/header')%>
<%}else{%>
<%- include('../partials/header'), ({user})%>
    <%}%>

<!-- Section: Design Block -->
<section class="container mt-4" style="padding-top: 10px">
    <!-- Jumbotron -->
    <div class="px-4 py-5 px-md-5 text-center text-lg-start theseAreCards rounded loginBox loginLogo" >

        <div class="container">
            <div class="row gx-lg-5 align-items-center ">
                <div class="col-lg-6 mb-5 mb-lg-0 text-center">
                    <h1 class="my-5 display-3 fw-bold ls-tight">
                        After the FoxHole
                    </h1>
                    <p class="size28">
                        We are a community with the goal of bringing all veterans and active duty members together.
                        We provide a platform where veterans and active duty members can share any news, information, and change that
                        can have an impact on both active duty and veteran members. We also serve as a place where members can create events
                        to help bring this community together in real ways. Discussion and communication are a key part of a healthy community
                        and After the Foxhole can be the place where that happens.
                    </p>
                </div>

                <div class="col-lg-6 mb-5 mb-lg-0 ">
                    <div class="card">
                        <div class="card-body py-5 px-md-5 text-center rounded loginCreateBox" id="testCard">
                            <form  action="/login" method="post">
                                <div class="row mb-5">
                                    <div class="col-12">
                                        <h2>Ready to join the community?</h2>
                                    </div>
                                    <div class="col-12">
                                        <a class="ownerColor" href="/register">
                                            <h1>Sign Up for After the Foxhole</h1>
                                        </a>

                                    </div>
                                </div>

<!--                                form check error display-->
                                <% if (typeof  attempt !== 'undefined'){%>
                                <div class="m-3 bg-warning rounded-pill"><%=attempt.error%></div>
                                <%}%>

                                <!-- Email input -->
                                <div class="row mb-2">
                                    <h3>Already a member?</h3>
                                </div>
                                <div class="form-outline mb-2">
                                    <input type="hidden" name="type" value="user"/>
                                    <input type="email" id="email" name="email"
                                            <% if (typeof  attempt !== 'undefined'){%>
                                            value="<%=attempt.email%>"
                                           <%}%>class="form-control theseAreCards" />
                                    <label class="form-label mt-1 size24" for="email">Email address</label>
                                </div>

                                <!-- Password input -->
                                <div class="form-outline mb-2">
                                    <input type="password" id="password" name="password" class="form-control theseAreCards" />
                                    <label class="form-label mt-1 size24" for="password">Password</label>
                                </div>

                                <!-- Submit button -->
                                <button  value="Submit" type="submit" class="mx-auto mb-4 navBtnStyle buttonStyle pt-2 pb-1" >
                                    Login
                                    <!--href="homepage.ejs"-->
                                </button>
                            </form>

                                <!-- Button trigger modal -->
                                <div>
                                    <a role="button" class="link commentContent" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                        Lost Password?
                                    </a>
                                </div>


                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">Reset Password</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <form action="/users/recovery" method="post">
                                                    <label for="emailField">Email: </label>
                                                    <input type="email" name="email" id="emailField">
                                                    <button value="Submit" type="submit" class="btn btn-primary buttonStyle">Send Recovery</button>
                                                </form>

                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary buttonStyle" data-bs-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Jumbotron -->
</section>
<!-- Section: Design Block -->

</body>
<%- include('../partials/footer')%>

</html>
