<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
    <title>Profile</title>
</head>

<body>
<%- include('../partials/header', ({user}))%>

<!--Profile information-->
<div class="container text-center">
    <div class="row align-items-start">
        <div class="col-6 col-sm-3">
            <div class="card" style="width: 15rem;">
                <img class="card-img-top" src="<%= owner.avatar%>" alt="">
                <br>
                <div class="card-body">
                    <h6 class="card-title"><%=owner.displayName%></h6>
                    <h2 class="card-title"><%=owner.info.name.first + " " + owner.info.name.last%></h2>
                    <hr><br>
                    <div class="card-text" id="edit">
                        <div>Location:<span class="editLocation"><%=owner.info.location.text%></span></div>
                        <div> Branch of Service:<span class="editBranch"><%=owner.info.service.branch%></span></div>
                            <div>Status:<span class="editStatus"><%=owner.info.service.status%></span></div>
                                <div> Current Job:<span class="editJob"><%=owner.info.currentJob%></span></div>
                    </div>
                    <br>
                    <% if (edit){ %>
                        <button type="submit" id="edit-button"><a href="/profile/edit">Edit Profile</a></button>
<!--                        <button type="submit" id="end-editing" class="visually-hidden">Save Profile</button>-->
                    <%} else{%>
                        <button type="submit" id="fireTeam-button">Add to FireTeam</button>
                    <%}%>
                </div>
            </div>
        </div>
    <!--Recent post-->
        <div class="col-6 col-sm-3">
            <h3>Recent Post</h3>
            <% posts.forEach(function (post){%>
            <div class="card" style="width: 15rem;">
                <div class="card-body">
                    <h5 class="card-title post-title"><%=post.title%></h5>
                    <p class="card-text post-content"><%=post.content%></p>
                    <p class="card-text post-time"><%=post.timeCreated%></p>
                </div>
            </div>
            <%});%>
        </div>
    <!--Fireteam-->
        <div class="col-6 col-sm-3">
            <h3>Fireteam</h3>
            <div class="card" style="width: 15rem;">
                <div class="card-body">
                    <h6 class="card-title following">Following</h6>

                </div>
            </div>
        </div>
    <!--Interest-->
        <div class="col-6 col-sm-3">
            <h3>Interests</h3>
            <div class="card" style="width: 15rem;">
                <div class="card-body">
                    <h6 class="card-title interest-tags">Interest tags</h6>
                    <%owner.tags.forEach(function(tag){ %>
                        <li><%= tag %></li> <% }); %>
                </div>
            </div>
        </div>
    </div>
</div>


<%- include('../partials/footer')%>
</body>

<script src="../assets/js/profile.js"></script>
</html>
