<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
    <title>Profile</title>
</head>

<body class="bodyBack">
<%- include('../partials/header', ({user}))%>
<br>
<!--Profile information-->
<div class="container">
    <div class="row">
        <div class="col-lg-3 px-2" style="text-align: center">
            <div class="card theseAreCards mx-auto" style="width: 15rem;">
                <img class="card-img-top" src="<%= owner.avatar%>" alt="">
                <br>
                <div class="card-body">
                    <h6 class="card-title"><%=owner.displayName%></h6>
                    <h2 class="card-title"><%=owner.info.name.first + " " + owner.info.name.last%></h2>
                    <hr><br>
                    <div class="card-text" id="edit">
                        <div>Location:<span class="editLocation"><%=owner.info.location.text%></span></div>
                        <div> Branch of Service:<span class="editBranch"><%=owner.info.service.branch%></span></div>
                            <div>Status:<span class="editStatus"><%=owner.info.service.status%></span></div>
                                <div> Current Job:<span class="editJob"><%=owner.info.currentJob%></span></div>
                    </div>
                    <br>
                    <% if (edit){ %>
                        <button class="navBtnStyle " type="submit" id="edit-button"><a class="whiteButtons" href="/profile/edit">Edit Profile</a></button>
<!--                        <button type="submit" id="end-editing" class="visually-hidden">Save Profile</button>-->
                    <%} else{%>
                            <% if(!fireteam){ %>
                        <form action="/fireteam/add" method="post">
                            <input class="visually-hidden" name="ownerId" value="<%=owner._id%>">
                            <input class="visually-hidden" name="displayName" value="<%=owner.displayName%>">
                            <button class="navBtnStyle" type="submit">Add To FireTeam</button>
                        </form>
                                <% } else {%>
                        <form action="/fireteam/remove" method="post">
                            <input class="visually-hidden" name="ownerId" value="<%=owner._id%>">
                            <button class="dangerBtn" type="submit">Remove From FireTeam</button>
                        </form>
                                    <%}%>
                    <%}%>
                </div>
            </div>
        </div>
    <!--Recent post-->
        <div class="col-lg-3 px-2 ">
            <div class="theseAreCards rounded p-2 mb-2 me-2 mx-auto  d-flex align-items-center">
                <h3 class="m-auto text-center"><u>Recent Posts</u></h3>
            </div>
            <div class="scrollable-div">
                <div class="cardsContainer rounded p-2">
                    <% owner.posts.forEach(function (post){%>
                        <div class="card-body theseAreCards rounded p-2 text-center">
                            <a href="/posts?id=<%=post.id%>">
                                <h5 class="card-title"><%=post.title%></h5>
                            </a>
        <!--                    <h5 class="card-title post-title">=post.title</h5>-->
                            <p class="card-text post-content"><%=post.content%></p>
                            <p class="card-text post-time"><%=post.timeCreated%></p>
                        </div>
                    <hr>
                    <%});%>
                </div>
            </div>
        </div>
    <!--Fireteam-->
        <div class="col-lg-3 px-2" >
            <div class="theseAreCards rounded p-2 mb-2 mx-auto  d-flex align-items-center">
                <h3 class="m-auto text-center"><u>My Fireteam</u></h3>
            </div>
                <div class="scrollable-div">
                    <div class="card-body theseAreCards rounded p-2">
                        <%owner.followers.forEach(function(follower){ %>
                        <div class="card-body theseAreCards text-center">
                            <a href="/profile?id=<%=follower.following.id%>">
                                <h5 class="card-title"><%=follower.following.name%></h5>
                            </a>
                        </div>
                        <hr>
                        <% });%>
                    </div>
                </div>
        </div>
    <!--My Events-->
        <div class="col-lg-3 px-2">
            <div class="theseAreCards rounded p-2 mb-2 mx-auto  d-flex align-items-center">
                <h3 class="m-auto text-center"><u>Recent Events</u></h3>
            </div>
            <div class="scrollable-div">
            <%owner.events.forEach(function(post){ %>
                <div class="card-body theseAreCards rounded p-2 text-center">
                            <a href="/events?id=<%=post.id%>">
                                <h5 class="card-title"><%=post.title%></h5>
                            </a>
<!--                                                <h5 class="card-title post-title">=post.title</h5>-->
                            <p class="card-text post-content"><%=post.content%></p>
                            <p class="card-text post-time changeTime"><%=post.timeCreated%></p>

                </div>
            <hr>
            <% });%>
            </div>
        </div>
    </div>
</div>


<%- include('../partials/footer')%>
</body>
<script>
    $(document).ready(function(){
	    let blocks = $(".changeTime")
	    for (let t of blocks){
		    let current = $(this).val()
		    const localDate = new Date(current);
		    const utcDate = new Date(localDate.getTime() + localDate.getTimezoneOffset() * 60000);
		    current=  utcDate.toISOString();
		    $(this).val(current)
	    }
    })
</script>
<!--<script src="../assets/js/profile.js"></script>-->
</html>
