<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
    <title>Profile</title>
</head>

<body class="bodyBack">
<%- include('../partials/header', ({user}))%>
<br>
<!--Profile information-->
<div class="container">
    <div class="row">
        <div class="col-lg-3 px-2" style="text-align: center">
            <div class="card theseAreCards mx-auto" style="width: 15rem;">
                <img class="card-img-top" src="<%= owner.avatar%>" alt="">
                <br>
                <div class="card-body">
                    <h6 class="card-title"><%=owner.displayName%></h6>
                    <h2 class="card-title"><%=owner.info.name.first + " " + owner.info.name.last%></h2>
                    <hr><br>
                    <div class="card-text" id="edit">
                        <div>Location:<span class="editLocation"><%=owner.info.location.text%></span></div>
                        <div> Branch of Service:<span class="editBranch"><%=owner.info.service.branch%></span></div>
                            <div>Status:<span class="editStatus"><%=owner.info.service.status%></span></div>
                                <div> Current Job:<span class="editJob"><%=owner.info.currentJob%></span></div>
                    </div>
                    <br>
                    <% if (edit){ %>
                        <button type="submit" id="edit-button"><a href="/profile/edit">Edit Profile</a></button>
<!--                        <button type="submit" id="end-editing" class="visually-hidden">Save Profile</button>-->
                    <%} else{%>
                            <% if(!fireteam){ %>
                        <form action="/fireteam/add" method="post">
                            <input class="visually-hidden" name="ownerId" value="<%=owner._id%>">
                            <input class="visually-hidden" name="displayName" value="<%=owner.displayName%>">
                            <button type="submit">Add To FireTeam</button>
                        </form>
                                <% } else {%>
                        <form action="/fireteam/remove" method="post">
                            <input class="visually-hidden" name="ownerId" value="<%=owner._id%>">
                            <button type="submit">Remove From FireTeam</button>
                        </form>
                                    <%}%>
                    <%}%>
                </div>
            </div>
        </div>
    <!--Recent post-->
        <div class="col-lg-3 px-2" style="text-align: center">
            <h3><u>Recent Post</u></h3>
            <% owner.posts.forEach(function (post){%>
                <div class="card-body theseAreCards">
                    <a href="/posts?id=<%=post.id%>">
                        <h5 class="card-title"><%=post.title%></h5>
                    </a>
<!--                    <h5 class="card-title post-title">=post.title</h5>-->
                    <p class="card-text post-content"><%=post.content%></p>
                    <p class="card-text post-time"><%=post.timeCreated%></p>
                </div>
            <hr>
            <%});%>
        </div>
    <!--Fireteam-->
        <div class="col-lg-3 px-2" style="text-align: center">
            <h3><u>Fireteam</u></h3>
                <div class="card-body theseAreCards">

                </div>
        </div>
    <!--Interest-->
        <div class="col-lg-3 px-2" style="text-align: center">
            <h3><u>Recent Events</u></h3>
            <%owner.events.forEach(function(post){ %>
                <div class="card-body theseAreCards">
                            <a href="/events?id=<%=post.id%>">
                                <h5 class="card-title"><%=post.title%></h5>
                            </a>
<!--                                                <h5 class="card-title post-title">=post.title</h5>-->
                            <p class="card-text post-content"><%=post.content%></p>
                            <p class="card-text post-time"><%=post.timeCreated%></p>

                </div>
            <hr>
            <% });%>
            </div>
    </div>
</div>


<%- include('../partials/footer')%>
</body>

<!--<script src="../assets/js/profile.js"></script>-->
</html>
