<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
    <title>Profile</title>
</head>

<body class="bodyBack">
<%- include('../partials/header', ({user}))%>
<br>
<!--Profile information-->
<div class="container">
    <div class="row">
        <div class="col-lg-3 px-2 mb-5" style="text-align: center">
            <div class="card theseAreCards mx-auto" >
                <img class="card-img-top" src="<%= owner.avatar%>" alt="">
                <br>
                <div class="card-body">
                    <h6 class="card-title size24"><%=owner.displayName%></h6>
                    <h2 class="card-title"><%=owner.info.name.first + " " + owner.info.name.last%></h2>
                    <hr><br>
                    <div class="card-text commentContent" id="edit">
                        <div>Location:  <span class="editLocation"><%=owner.info.location.text%></span></div>
                        <div> Branch of Service:  <span class="editBranch"><%=owner.info.service.branch%></span></div>
                            <div>Status:  <span class="editStatus"><%=owner.info.service.status%></span></div>
                                <div> Current Job:  <span class="editJob"><%=owner.info.currentJob%></span></div>
                    </div>
                    <br>
                    <% if (edit){ %>
                        <button class="navBtnStyle" type="submit" id="edit-button"><a class="whiteButtons" href="/profile/edit">Edit Profile</a></button>
                    <%} else{%>
                            <% if(!fireteam){ %>
                        <form action="/fireteam/add" method="post">
                            <input class="visually-hidden" name="ownerId" value="<%=owner._id%>">
                            <input class="visually-hidden" name="displayName" value="<%=owner.displayName%>">
                            <button class="navBtnStyle" type="submit">Add To FireTeam</button>
                        </form>
                                <% } else {%>
                        <form action="/fireteam/remove" method="post">
                            <input class="visually-hidden" name="ownerId" value="<%=owner._id%>">
                            <button class="dangerBtn" type="submit">Remove From FireTeam</button>
                        </form>
                                    <%}%>
                    <%}%>
                </div>
            </div>
        </div>
    <!--Recent post-->
        <div class="col-lg-3 px-2 mb-5">
            <div class="theseAreCards rounded p-2 mb-2 mx-auto d-flex align-items-center scrollablePostsTitle">
                <h3 class="m-auto text-center"><u><%=owner.displayName%>'s Posts</u></h3>
            </div>
            <div class="scrollable-div scrollablePosts">
                <div class="cardsContainer rounded p-2">
                    <% owner.posts.forEach(function (post){%>
                        <% let date = new Date(post.timeCreated);%>
                        <% let options = {
                            year: 'numeric',
                            month: 'short',
                            day: 'numeric',
                        };
                        %>
                        <% let cardCreated = date.toLocaleString('en-US', options);
                        %>
                        <div class="card-body theseAreCards rounded p-2 text-center">
                            <a class="standardLink" href="/posts?id=<%=post.id%>">
                                <h5 class="card-title size24"><%=post.title%></h5>
                            </a>
                            <p class="card-text post-content commentContent"><%=post.content%></p>
                            <p class="card-text post-time commentContent"><%=cardCreated%></p>
                        </div>
                    <hr>
                    <%});%>
                </div>
            </div>
        </div>
    <!--Fireteam-->
        <div class="col-lg-3 px-2 mb-5" >
            <div class="theseAreCards rounded p-2 mb-2 mx-auto  d-flex align-items-center">
                <h3 class="m-auto text-center"><u><%=owner.displayName%>'s Fireteam</u></h3>
            </div>
                <div class="scrollable-div">
                    <div class="cardsContainer rounded p-2">
                        <div class="card-body theseAreCards rounded p-2">
                            <%owner.followers.forEach(function(follower){ %>
                            <div class="card-body theseAreCards text-center">
                                <a class="standardLink" href="/profile?id=<%=follower.following.id%>">
                                    <h5 class="card-title size24"><%=follower.following.name%></h5>
                                </a>
                            </div>
                            <hr>
                            <% });%>
                        </div>
                    </div>
                </div>
        </div>
    <!--My Events-->
        <div class="col-lg-3 px-2 mb-5">
            <div class="theseAreCards rounded p-2 mb-2 mx-auto d-flex align-items-center scrollableEventsTitle">
                <h3 class="m-auto text-center"><u><%=owner.displayName%>'s Events</u></h3>
            </div>
            <div class="scrollable-div scrollableEvents">
                <div class="cardsContainer rounded p-2">
                <%owner.events.forEach(function(event){ %>
                        <% let date = new Date(event.timeCreated);%>
                        <% let options = {
                            year: 'numeric',
                            month: 'short',
                            day: 'numeric',
                        };
                        %>
                        <% let cardCreated = date.toLocaleString('en-US', options);
                        %>
                    <div class="card-body theseAreCards rounded p-2 text-center">
                                <a class="standardLink" href="/events?id=<%=event.id%>">
                                    <h5 class="card-title size24"><%=event.title%></h5>
                                </a>
                                <p class="card-text post-content commentContent"><%=event.content%></p>
                                <p class="card-text post-time commentContent"><%=cardCreated%></p>

                    </div>
                <hr>
                <% });%>
                </div>
            </div>
        </div>
    </div>
</div>


<%- include('../partials/footer')%>
</body>
<script>
    function checkOverflowAndApplyClassPosts() {
        const scrollablePostsDiv = $('.scrollablePosts');
        const titleDiv = $('.scrollablePostsTitle');

        if (scrollablePostsDiv[0].scrollHeight > scrollablePostsDiv[0].clientHeight) {
            titleDiv.addClass('me-2');
        } else {
            titleDiv.removeClass('me-2');
        }
    }
    function checkOverflowAndApplyClassEvents() {
        const scrollableEventsDiv = $('.scrollableEvents');
        const titleDiv = $('.scrollableEventsTitle');

        if (scrollableEventsDiv[0].scrollHeight > scrollableEventsDiv[0].clientHeight) {
            titleDiv.addClass('me-2');
        } else {
            titleDiv.removeClass('me-2');
        }
    }

    checkOverflowAndApplyClassPosts();
    checkOverflowAndApplyClassEvents();

    $(".scrollablePosts").on('resize', checkOverflowAndApplyClassPosts);
    $(".scrollableEvents").on('resize', checkOverflowAndApplyClassEvents);
</script>
<!--<script src="../assets/js/profile.js"></script>-->
</html>
