<!DOCTYPE html>
<html>
<head>
    <title>Registration Page</title>
    <meta charset="UTF-8">


</head>
<body class="bodyBack">
<%- include('../partials/header')%>
<div class="container my-4 rounded p-3 cardsContainer regBox" >
    <div class="d-flex align-items-center justify-content-center ">
        <div class="col-10 text-center " >
            <h1>Registration Page</h1>
            <% if (typeof  error !== 'undefined'){%>
            <div class="col text-muted lead text-center m-auto bg-warning border rounded-pill"><%=error.error%></div>
                <%}%>
            <form class="size24" action="/users" method="POST">
                <div class="row mb-2">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="first">First Name</label>
                            <input type="text" class="form-control theseAreCards commentContent pt-2 pb-1" id="first" name="firstN" required
                                   value="<% if (typeof  attempt !== 'undefined'){%><%=attempt.info.name.first%><%}%>">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="last">Last Name</label>
                            <input type="text" class="form-control theseAreCards commentContent pt-2 pb-1" id="last" name="last" required value="<% if (typeof  attempt !== 'undefined'){%><%=attempt.info.name.last%><%}%>">
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="email">Email Address</label>
                            <input type="email" class="form-control theseAreCards commentContent pt-2 pb-1" id="email" name="email" required value="<% if (typeof  attempt !== 'undefined'){%><%=attempt.info.email%><%}%>">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="displayName">Display Name</label>
                            <input type="text" class="form-control theseAreCards commentContent pt-2 pb-1" id="displayName" name="displayName" required value="<% if (typeof  attempt !== 'undefined'){%><%=attempt.displayName%><%}%>">
                        </div>
                    </div>
                </div>
                <div class="form-group col-6 mx-auto mb-2">
                    <label for="password">Password</label>
                    <input type="password" class="form-control theseAreCards commentContent pt-2 pb-1" id="password" name="password" required value="<% if (typeof  attempt !== 'undefined'){%><%=attempt.password%><%}%>">
                </div>
                <div class="form-group mb-2">
                    <label for="address">Location (Can Be City, State, or Address)</label>
                    <input type="text" class="form-control theseAreCards commentContent pt-2 pb-1" id="address" name="location" required value="<% if (typeof  attempt !== 'undefined'){%><%=attempt.info.location.text%><%}%>">
                </div>
                <div class="form-group mb-2">
                    <label for="branchOfService">Branch of Service</label>
                    <select class="form-control theseAreCards commentContent commentContent pt-2 pb-1" id="branchOfService" name="branch" required>
                        <option value=""
                        <% if (typeof  attempt === 'undefined'){%>
                        selected
                        <%}%>
                                disabled>Choose your branch of service</option>
                        <option value="Army"
                        <% if (typeof  attempt !== 'undefined'){%>
                            <% if (  attempt.info.service.branch === 'Army'){%>
                            selected
                            <%}%>
                        <%}%>
                        >Army</option>
                        <option value="Navy"
                        <% if (typeof  attempt !== 'undefined'){%>
                            <% if (  attempt.info.service.branch === 'Navy'){%>
                                selected
                                    <%}%>
                                <%}%>>Navy</option>
                        <option value="Air Force"
                        <% if (typeof  attempt !== 'undefined'){%>
                            <% if (  attempt.info.service.branch === 'Air Force'){%>
                                selected
                                    <%}%>
                                <%}%>>Air Force</option>
                        <option value="Marines"
                        <% if (typeof  attempt !== 'undefined'){%>
                            <% if (  attempt.info.service.branch === 'Marines'){%>
                                selected
                                    <%}%>
                                <%}%>>Marines</option>
                        <option value="Coast Guard"
                        <% if (typeof  attempt !== 'undefined'){%>
                            <% if (  attempt.info.service.branch === 'Coast Guard'){%>
                                selected
                                    <%}%>
                                <%}%>>Coast Guard</option>
                        <option value="Army-NG"
                        <% if (typeof  attempt !== 'undefined'){%>
                            <% if (  attempt.info.service.branch === 'Army-NG'){%>
                                selected
                                    <%}%>
                                <%}%>>Army-NG</option>
                        <option value="Air-NG"
                        <% if (typeof  attempt !== 'undefined'){%>
                            <% if (  attempt.info.service.branch === 'Air-NG'){%>
                                selected
                                    <%}%>
                                <%}%>>Air-NG</option>
                    </select>
                </div>
                <div class="form-group mb-2">
                    <label for="status">Status</label>
                    <div class="theseAreCards rounded col-6 mx-auto pt-2 pb-1">
                        <label class="radio-inline mx-2">
                            <input type="radio" name="status" value="Active" required
                            <% if (typeof  attempt !== 'undefined'){%>
                                <% if (  attempt.info.service.status === 'Active'){%>
                                   checked
                                        <%}%>
                                    <%}%>
                            > Active Duty
                        </label>
                        <label class="radio-inline mx-2">
                            <input type="radio" name="status" value="Veteran" required
                            <% if (typeof  attempt !== 'undefined'){%>
                                <% if (  attempt.info.service.status === 'Veteran/Retired'){%>
                                   checked
                                        <%}%>
                                    <%}%>> Veteran/Retired
                        </label>
                        <label class="radio-inline mx-2">
                        <input type="radio" name="status" value="Reserve" required
                        <% if (typeof  attempt !== 'undefined'){%>
                            <% if (  attempt.info.service.status === 'Reserve'){%>
                               checked
                                    <%}%>
                                <%}%>> Reserve
                        </label>
                    </div>
                </div>
                <div class="form-group col-6 mx-auto mb-3">
                    <label for="currentJob">Current Job (CIV/MILITARY) (optional)</label>
                    <input type="text" class="form-control theseAreCards commentContent pt-2 pb-1" id="currentJob" name="currentJob"
                    value="<% if (typeof attempt !== 'undefined'){%><%=attempt.info.currentJob%><%}%>">
                </div>
                <div class="text-center">
                <button type="submit" class="pt-2 pb-1 navBtnStyle buttonStyle">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Include Bootstrap JS -->
<%- include('../partials/footer')%>

</body>
</html>
