<!DOCTYPE html>
<html>
<head>
    <title>View Post</title>
</head>
<body>
<%- include('../partials/header'), ({user})%>

<div class="container"></div>
    <div class="card " style="">
        <div class="row justify-content-center">
            <div class="col-md-3"></div>
            <div class="col-md-1">
                <div class="align-items-center">
                    <img src="<%=post.avatar%>" class="img-fluid rounded-circle" style="width: 50px; height: 50px;" alt="...">
                    <a href="">
                        <h6 class="card-subtitle mb-2 text-muted" id="postCreator"><%=post.owner.name%></h6>
                    </a>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <div> </div>
                    <a href="">
                        <h5 class="card-title" id="postTitle"><%=post.title%></h5>
                    </a>

                    <p class="card-text" id="postContent"><%=post.content%></p>
                    <p class="card-text" id="postCreated"><%=post.timeCreated%></p>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>
<div class="row">
    <form class="row g-3">
        <div class="row">
            <label for="addCommentText" class="form-label">Comment:</label>
            <textarea class="form-control" id="addCommentText" rows="3"></textarea>
        </div>
        <div class="row">
            <button type="submit" class="btn btn-primary mb-3" id="addCmtBtn">Add Comment</button>
        </div>
    </form>
    <br>
</div>
<div class="row">
    <%-cHtml%>
</div>


<%- include('../partials/footer')%>
</body>
</html>
