<!DOCTYPE html>
<html>
<head>
    <title>View Event</title>
</head>
<body class="bodyBack">
<%- include('../partials/header'), ({user})%>

<div>
    <div class="card mx-auto mt-4 border-0 theseAreCards mainCard w-75 px-3">
        <div class="row">
            <div class="col-md-2 border-end border-dark theseAreCards d-flex align-items-center rounded-start flex-fill">
                <div class="text-center mx-auto">
                    <div class="mx-auto">
                        <a href="">
                            <h6 class="card-subtitle mb-2 mx-auto text-muted" id="eventCreator"><%=event.owner.name%></h6>
                        </a>
                    </div>
                    <% if (edit){ %>
                        <button class="navBtnStyle mx-auto" type="submit" id="edit-button"><a class="whiteButtons" href="/events/edit?id=<%=event._id%>">Edit Event</a></button>
                    <%} else{%>
                    <%}%>
                </div>
            </div>
            <div class="col-md-8 theseAreCards">
                <div class="card-body">

                        <div>
                            <h2 class="card-title" id="eventTitle"><%=event.title%></h2>
                        </div>
                        <div>
                            <h3 class="card-text" id="eventContent"><%=event.content%></h3>
                        </div>
                        <hr>
                        <div class="row mb-2">
                            <div class="viewPageTags col-lg-8">
                                <span >Tags: <%= (event.tags.length === 0) ? 'None' : '' %></span>
                                <% event.tags.forEach(function(tag){ %>
                                <span class="badge rounded-pill buttonStyle pt-2"><%=tag%></span>
                                <%})%>
                            </div>
                            <div class="col-md-2">
                                <h5 class="viewPageTags">Votes: <%=event.votes%></h5>
                            </div>
                            <div class="col-md-2">
                                <h5 class="viewPageTags">Comments: <%=event.commentCount%></h5>
                            </div>
                        </div>

                    <h5 class="card-text viewPageDates " id="eventCreated">Event Created: <span class="changeTime"><%=event.timeCreated%></span></h5>
                    <h5 class="card-text viewPageDates " id="eventDate">When is the event? <%=event.date%></h5>
                </div>
            </div>
            <div class="col-md-2 text-center border-start border-dark theseAreCards d-flex align-items-center rounded-end">
                <div class="row">
                    <div class="col-12">
                        <form <% if (user.attending.some(e => e.id.valueOf() === event._id.valueOf())) { %>
                            action="/attending/remove"
                                <% } else { %>
                            action="/attending/add"
                                <% } %> method="get">
                            <input class="visually-hidden" name="id" value="<%=event._id%>">
                            <button class="me-0 pt-2 pb-1 navBtnStyle
                                <% if (user.attending.some(e => e.id.valueOf() === event._id.valueOf())) { %>
                                votedBtn
                                <% }  %>
                                " type="submit"><span class="material-symbols-outlined">add_circle</span> <br>
                                <% if (user.attending.some(e => e.id.valueOf() === event._id.valueOf())) { %>
                                    ATTENDING!
                                <% } else { %>
                                    ATTENDING?
                                <%}%>
                            </button>
                        </form>
                    </div>
                    <div class="col-12 mt-2">
                        <form action="/vote" method="post">
                            <input class="visually-hidden" name="master" value="<%= event._id %>">
                            <input class="visually-hidden" name="attach" value="">
                            <input class="visually-hidden" name="type" value="event">
                            <input class="visually-hidden scrollField" name="scroll" value="">
                            <button class="me-0 pt-2 pb-1 btn voteBtn navBtnStyle <% if(vote){%>voted<%}%>" type="submit"><%if(vote){%>DOWNVOTE<%}else{%>UPVOTE<%}%></button>
                            <input class="visually-hidden" name="value" value="<% if (vote){ %>-1<%} else{%>+1<%}%>">
                        </form>
                    </div>
                </div>
            </div>

            </div>
        </div>
    </div>
    <br>
</div>
<div class="mx-auto my-2 w-75 px-5 py-2 cardsContainer commentContent rounded">
    <form action="/comments/add" method="post">
        <div>
            <label for="addCommentText" class="form-label">Comment:</label>
            <textarea class="form-control theseAreCards" id="addCommentText" rows="3" name="content"></textarea>
        </div>
        <div class="d-flex justify-content-end">
            <input class="visually-hidden" name="master" value="<%=event._id%>">
            <input class="visually-hidden" name="type" value="event">
            <input class="visually-hidden" id="scroll" name="scroll" value='0'>
            <button type="submit" class="btn navBtnStyle my-1 pt-2 pb-1" id="addCmtBtn">ADD COMMENT</button>
        </div>
    </form>
    <br>
</div>
<div class="mx-auto my-2 w-75 px-5 py-2 cardsContainer rounded commentFeed <%= (cHtml.length === 0) ? 'visually-hidden' : '' %>">
    <%-cHtml%>
</div>


<%- include('../partials/footer')%>
<script>
	$(document).ready(function(){
        let jump = "<%=scroll%>"
        let scrollPosition = 0;
        $(".openComment").click(function(){
            let parent = $(this).parent().children("form")
            let openComment= parent.children(".makeComment")
            openComment.each(function (){
                $(this).removeClass("visually-hidden")
            })
            let hideThese = $(".hideOnComment")
            hideThese.each(function (){
                $(this).addClass("visually-hidden")
            })
            $(".formReply").addClass("d-flex flex-fill")
        })
        $(".closeComment").click(function(){
            let parent = $(this).parent()
            let openComment= parent.children(".makeComment")
            openComment.each(function (){
                $(this).addClass("visually-hidden")
            })
            let hideThese = $(".hideOnComment")
            hideThese.each(function(){
                $(this).removeClass("visually-hidden")
            })
            $(".formReply").removeClass("d-flex flex-fill")
        })
        let voteBtns = $(".voteBtn")
        voteBtns.each(function(){
            if($(this).hasClass("voted")){
                $(this).addClass("votedBtn")
            } else {
                $(this).removeClass("votedBtn")
            }
        })

		window.scrollTo({
			top: parseInt(jump),
            left: 0,
			behavior: 'instant'
		})

		window.addEventListener('scroll', function () {
			scrollPosition = window.scrollY;
			$(".scrollField").attr("value", scrollPosition)
		});
		let blocks = $(".changeTime")
        for (let t of blocks){
	        let current = $(this).val()
	        const localDate = new Date(current);
	        const utcDate = new Date(localDate.getTime() + localDate.getTimezoneOffset() * 60000);
	        current=  utcDate.toISOString();
	        $(this).val(current)
        }


	})
</script>

</body>
</html>
