<!DOCTYPE html>
<html>
<head>
    <title>View Post</title>
</head>
<body class="bodyBack">
<%- include('../partials/header'), ({user})%>

<div>
    <div class="card mx-auto mt-4 border-0 theseAreCards mainCard w-75 px-3">
        <div class="row">
            <div class="col-md-2 border-end border-dark theseAreCards d-flex align-items-center rounded-start">
                <div class="text-center mx-auto">
                    <img src="<%=post.avatar%>" class="img-fluid rounded-circle mb-3" style="width: 50px; height: 50px;" alt="...">
                    <a class="standardLink ownerColor" href="/profile?id=<%=post.owner.id%>">
                        <h4 class="card-subtitle mb-2 mx-auto" id="postCreator"><%=post.owner.name%></h4>
                    </a>
                    <% if (edit){ %>
                        <button class="navBtnStyle mx-auto pt-2 pb-1" type="submit" id="edit-button"><a class="whiteButtons" href="/posts/edit?id=<%=post._id%>">Edit Post</a></button>
                        <!--                                          insert path for post edit page-->
                    <%} else{%>
                    <%}%>
                </div>

            </div>
            <div class="col-md-8 theseAreCards">
                <div class="card-body">

                    <div>
                        <h2 class="card-title" id="eventTitle"><%=post.title%></h2>
                    </div>
                    <div>
                        <h3 class="card-text" id="eventContent"><%=post.content%></h3>
                    </div>
                    <hr>
                    <div class="row mb-2 ">
                        <div class="viewPageTags col-lg-7 commentContent">
                            <span >Tags: <%= (post.tags.length === 0) ? 'None' : '' %></span>
                            <% post.tags.forEach(function(tag){ %>
                            <span class="badge rounded-pill buttonStyle pt-2"><%=tag%></span>
                            <%})%>
                        </div>
                        <div class="col-md-2">
                            <h5 class="viewPageTags commentContent">Votes: <%=post.votes%></h5>
                        </div>
                        <div class="col-md-3">
                            <h5 class="viewPageTags commentContent">Comments: <%=post.commentCount%></h5>
                        </div>
                    </div>
                    <% let date = new Date(post.timeCreated);%>
                    <% let options = {
                        year: 'numeric',
                        month: 'short',
                        day: 'numeric',
                    };
                    %>
                    <% let postDate = date.toLocaleString('en-US', options);
                    %>
                    <h5 class="card-text viewPageDates commentContent" id="postCreated">Post Created: <span class="changeTime"><%=postDate%></span></h5>
                </div>
            </div>
            <div class="col-md-2 text-center border-start border-dark theseAreCards d-flex align-items-center rounded-end">
                <form class="my-2 mx-auto" action="/vote" method="post">
                    <input class="visually-hidden" name="master" value="<%= post._id %>">
                    <input class="visually-hidden" name="attach" value="">
                    <input class="visually-hidden" name="type" value="post">
                    <input class="visually-hidden scrollField" name="scroll" value="">
                    <button class="pt-2 pb-1 navBtnStyle voteBtn <% if(vote){%> voted<%}%>" type="submit">VOTE</button>
                    <input class="visually-hidden" name="value" value="<% if (vote){ %>-1<%} else{%>+1<%}%>">
                    </form>
            </div>
            </div>
        </div>
    </div>
    <br>
</div>
<div class="mx-auto my-2 w-75 px-5 py-1 pb-3 cardsContainer commentContent rounded">
    <form action="/comments/add" method="post">
        <div>
            <label for="addCommentText" class="form-label size24">Comment:</label>
            <textarea class="form-control theseAreCards" id="addCommentText" rows="3" name="content"></textarea>
        </div>
        <div class="d-flex justify-content-end">
                <input class="visually-hidden" name="master" value="<%=post._id%>">
                <input class="visually-hidden" name="type" value="post">
                <input class="visually-hidden" id="scroll" name="scroll" value='0'>
                <button type="submit" class="btn btn-primary mt-2 pt-2 pb-1 navBtnStyle" id="addCmtBtn">Add Comment</button>
        </div>
    </form>
</div>
<div class="mx-auto my-2 w-75 px-5 py-2 cardsContainer rounded <%= (cHtml.length === 0) ? 'visually-hidden' : '' %>">
    <%-cHtml%>
</div>

<%- include('../partials/footer')%>
<script>
$(document).ready(function(){
	let jump = "<%=scroll%>"
	let scrollPosition = 0;
	$(".openComment").click(function(){
		let parent = $(this).parent().children("form")
		let openComment= parent.children(".makeComment")
        openComment.each(function (){
	        $(this).removeClass("visually-hidden")
        })
        let hideThese = $(".hideOnComment")
        hideThese.each(function (){
            $(this).addClass("visually-hidden")
        })
        $(".formReply").addClass("d-flex flex-fill")
    })
    $(".closeComment").click(function(){
        let parent = $(this).parent()
        let openComment= parent.children(".makeComment")
        openComment.each(function (){
            $(this).addClass("visually-hidden")
        })
        let hideThese = $(".hideOnComment")
        hideThese.each(function(){
            $(this).removeClass("visually-hidden")
        })
        $(".formReply").removeClass("d-flex flex-fill")
    })
    let voteBtns = $(".voteBtn")
    voteBtns.each(function(){
            if($(this).hasClass("voted")){
                $(this).addClass("votedBtn")
            } else {
                $(this).removeClass("votedBtn")
            }
    })

	window.scrollTo({
		top: parseInt(jump),
		left: 0,
		behavior: 'instant'
	})
	window.addEventListener('scroll', function () {
		scrollPosition = window.scrollY;
		$(".scrollField").attr("value", scrollPosition)
	});
})
</script>

</body>
</html>
